.Task {
    padding: 5px;
    margin-top: 5px;
}

.Task:hover {
    background: lightgrey;
}

.Task span {
    color:red;
    cursor: pointer;
    display: none;
    float: right;
}

.Task:hover span {
    display: inline-block;
}

.Task .active {
    text-decoration: inherit;
}