.Task {
    padding: 5px;
    margin-top: 5px;
}

.Task:hover {
    background: lightgrey;
}

.Task span:last-child {
    color:red;
    cursor: pointer;
    display: none;
    float: right;
}

.Task:hover span {
    display: inline-block;
}

.active {
    text-decoration: line-through;
}