.NotesBook {
    /* display: flex;
    justify-content: center;
    padding: 50px;
    width: 200px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 50px auto;
    background: linear-gradient(0deg,#033f0d 0%, #66032b 100%); */

    display: flex;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
    background: linear-gradient(45deg,#0d87ef 0%, #610053 100%);
}

.Card {
    width: 100px;
    height: 100px;
    border: 1px solid #fff;
    text-align: center;
    display: flex;
    padding: 20px;
    flex-direction: column;
}

