.Footer {
    border-top: 1px solid grey;
    margin-top: 15px;
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
}

.Footer .buttons button {
    margin-right: 2px;
}

.Footer .buttons button.selected {
    border: 2px solid black;
}

.Footer > button {

}